{% extends "base.html" %}

{% block head %}
<title>Not Found</title>
{% endblock %}

{% block body %}
<div class="row top-space-lg">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Not Found</h1>
  </div>
</div>
<div class="row top-space-lg">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3>Not all who wander are lost...</h3>
    <h3>But what you're looking for definitely isn't here.</h3>
  </div>
</div>
<div class="row top-space-lg">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <a href="/" class="btn btn-lg btn-md-width btn-primary">Home</a>
  </div>
</div>
{% endblock %}