{% load static %}
{% load permissions %}

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars fa-2"></i>
      </button>
      <a class="navbar-brand" href="/"><span><img
            src="{% static 'cards/images/ealdormere32.png' %}" />&nbsp;eMoL</span></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        {% if request.user.is_anonymous is False %}
        <li><a href="/" title="Home">
            <i class="fa fa-home fa-1-5x" aria-hidden="true"></i>
            <span class="collapsed">Home</span>
          </a></li>
        {% has_global_permission request.user "read_combatant_info" as read_combatant_info %}
        {% if read_combatant_info %}
        <li><a href="/combatants" title="Combatants">
            <span class="icon-crossed-swords"></span>
            <span class="collapsed">Combatant List</span>
          </a></li>
        {% endif %}
        {% has_global_permission request.user "can_edit_privacy_policy" as can_edit_privacy_policy %}
        {% if can_edit_privacy_policy %}
        <li><a href="/privacy-policy/edit" title="Edit Privacy Policy">
            <i class="fa fa-shield fa-1-5x" aria-hidden="true"></i>
            <span class="collapsed">Privacy Policy</span>
          </a></li>
        {% endif %}
        {% endif %}
      </ul>

      <ul class="nav navbar-nav  navbar-right">
        {% if request.user.is_superuser %}
        <li><a href="/admin" title="Admin">
            <i class="fa fa-gear fa-1-5x" aria-hidden="true"></i>
            <span class="collapsed">Admin</span>
          </a></li>
        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle no-change" data-toggle="dropdown">
            {{ request.user }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/auth/logout" class="text-menu">Sign Out</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="/auth/login">Sign In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
