<!DOCTYPE html>
{% load static %}
{% load layout %}
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.2/purify.min.js"
    integrity="sha512-UNx/heftzHGdkzGv6+EfpiDKjQreuyx5TkMMbhajPIhD/vURj+eNQSEnjK0ySGGS8qIR9cYpzYGSZY2LkUK07Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
    integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'cards/javascript/card.js' %}"></script>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'cards/css/card.css' %}">
  <title>Card for {% firstof sca_name legal_name %}</title>
</head>

<body>
  <div id="print-area">
    <div id="card" class="card">
      <img class="watermark" src="{% static 'cards/images/Wolf.gif' %}" />      
      <div class="row logo">
        <div class="col10 center">
          <img id="logo" src="{% static 'cards/images/ealdormere32.png' %}" />
        </div>
        <div class="col9 title">
          Kingdom of Ealdormere Authorization Card
        </div>
      </div>
      <div class="row space-top-3">
        <div class="col30">
          Be it known that
        </div>
        <div class="col60">
          <b>{{ legal_name }}</b>
        </div>
      </div>
      {% if sca_name %}
      <div class="row space-top-3">
        <div class="col30">
          Known in the SCA as
        </div>
        <div class="col60">
          <b>{{ sca_name }}</b>
        </div>
      </div>
      {% endif %}
      <div class="row space-top-3">
        <div class="col100">
          Holds the following authorizations in the Kingdom of Ealdormere:
        </div>
      </div>
      <hr />
      {% for card in cards.all %}
      {% with discipline=card.discipline %}
      <div class="row space-top-3 space-bottom-3">
        <div class="col100 center">
          <span class="discipline">{{ discipline.name }}</span>
          ({{ card.expiry_or_expired }})
        </div>
      </div>
      {% for chunk in card.card_ordered_authorizations|as_chunks:3 %}
      <div class="row space-top-3">
        <div class="col5"></div>
        {% for auth in chunk %}
        <div class="col5">{% yes_no_auth card auth.slug %}</div>
        <div class="col25">{{ auth.name }}</div>
        {% endfor %}
        <div class="col5"></div>
      </div>
      {% endfor %}
      <div class="row space-top-neg"></div>
      {% for chunk in card.card_ordered_marshals|as_chunks:3 %}
      <div class="row space-top-3 ">
        <div class="col5"></div>
        {% for marshal in chunk %}
        <div class="col5">{% yes_no_warrant card marshal.slug %}</div>
        <div class="col25">{{ marshal.name }}</div>
        {% endfor %}
        <div class="col5"></div>
      </div>
      {% endfor %}
      <hr />
      {% endwith %}
      {% endfor %}
      <div class="row space-top-5">
        <div class="col100 center">
          Waiver Expiry: {{ waiver_expiry }}
        </div>
      </div>
    </div>
  </div>
  <div id="buttons">
    <input type="button" id="print-button" value="Print" />
    <input type="button" id="pdf-button" value="PDF" />
  </div>
</body>

</html>
