{% load permissions %}

<div class="modal fade" id="combatant-detail" role="dialog" data-backdrop="static">
  <div class="modal-dialog" style="width:800px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>
          <span class="glyphicon glyphicon-pencil"></span>&nbsp;
          <span id="combatant-title">New Combatant</span>
        </h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills">
          <li class="active" id="info-tab"><a data-toggle="tab" href="#info">Info</a></li>
          <li id="waiver-tab"><a data-toggle="tab" href="#waiver">Waiver</a></li>
          {% for discipline in disciplines %}
          <li class="discipline-tab" data-discipline="{{ discipline.slug }}">
            <a class="discipline-tab-link" data-toggle="tab" href="#{{ discipline.slug }}">{{ discipline.name }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="tab-content">
          <input type="hidden" id="uuid" name="uuid" value="{{ uuid }}" />
          <div id="info" class="tab-pane fade in active">
            <form id="edit-combatant-form">
              {% include 'combatant/combatant_info.html' %}
            </form>
          </div>

          <div id="waiver" class="tab-pane fade in">
            <form id="waiver-date-form">
              <div class="col-md-6">
                <div class="form-group row">
                  <label for="edit-waiver-date_signed" class="col-md-5 col-form-label">
                    Date Signed&nbsp;
                    <span
                      title="This is the date the waiver is signed.&#013;Testing: To get a reminder email tonight, set the date for {{ test_waiver_reminder }}&#013;Testing: To get an expiry email tonight, set the date for {{ test_waiver_expiry }}">
                      <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    {% if combatant %}
                    <span title="{{combatant.waiver.reminder_tooltip}}">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    {% endif %}
                  </label>
                  <div class="col-md-5">
                    {% has_global_permission request.user "write_waiver_date" as write_waiver_date %}
                    <input type="text" id="edit-waiver-date_signed" name="date_signed"
                      value="{% firstof combatant.waiver.date_signed '' %}" class="form-control" readonly required 
                      {% if not write_waiver_date %}disabled{% endif %} />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="edit-waiver-expiration_date" class="col-md-5 col-form-label">
                    Expiration Date&nbsp;
                    <span
                      title="This is the date the waiver expiresd.&#013;Testing: To get a reminder email tonight, set the date for {{ test_waiver_reminder }}&#013;Testing: To get an expiry email tonight, set the date for {{ test_waiver_expiry }}">
                      <i class="fa fa-question-circle" aria-hidden="true"></i>
                    </span>
                    {% if combatant %}
                    <span title="{{combatant.waiver.reminder_tooltip}}">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                    {% endif %}
                  </label>
                  <div class="col-md-5">
                    <input type="text" id="edit-waiver-expiration_date" name="expiration_date"
                      value="{% firstof combatant.waiver.expiration_date '' %}" class="form-control" readonly 
                      disabled />
                  </div>
                </div>
              </div>
            </form>
          </div>

          {% for discipline in disciplines %}
          <div id="{{ discipline.slug }}" class="tab-pane discipline-pane fade in">

            <div class="row top-space-md"></div>
            <div class="row">
              <label class="col-md-2 col-form-label">
                Card Issued&nbsp;
                <span
                  title="This is the date the card is being renewed, not two years in the future.&#013;Testing: To get a reminder email tonight, set the date for {{ test_card_reminder }}&#013;Testing: To get an expiry email tonight, set the date for {{ test_card_expiry }}">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                </span>
              </label>
              <div class="col-md-2">
                {% has_permission request.user "write_card_date" discipline as write_card_date %}
                <input type="text" id="edit-combatant-date_issued_{{ discipline.slug }}"
                  name="date_issued_{{ discipline.slug }}" value="{% firstof card.date_issued '' %}"
                  class="form-control card-date" data-discipline="{{ discipline.slug }}" readonly 
                  {% if not write_card_date %}disabled{% endif %} />
                <input type="hidden" id="edit-combatant-card_uuid_{{ discipline.slug }}"
                  name="card_uuid_{{ discipline.slug }}" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                {% has_permission request.user "write_authorizations" discipline as write_authorizations %}
                {% for auth in discipline.authorizations.all %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="combatant-authorization" id="{{ discipline.slug}}-{{ auth.slug }}"
                      data-endpoint="combatant-authorization" data-discipline="{{ discipline.slug }}"
                      data-authorization="{{ auth.slug }}" {% if not write_authorizations %}disabled{% endif %}>
                    {{ auth.name }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                {% has_permission request.user "write_marshal" discipline as write_marshal %}
                {% for marshal in discipline.marshals.all %}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="combatant-marshal" id="{{ discipline.slug}}-{{ marshal.slug }}"
                      data-endpoint="combatant-warrant" data-discipline="{{ discipline.slug }}"
                      data-marshal="{{ marshal.slug }}" {% if not write_marshal %}disabled{% endif %}>
                    {{ marshal.name }}
                  </label>
                </div>
                {% endfor %}
              </div>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
        <span class="modal-footer-error" id="validation-error-notice">Fix validation errors before saving</span>
        <input type="button" class="btn btn-close" value="Close" />
        <input type="button" class="btn btn-primary btn-save" value="Save" />
      </div>
    </div>
  </div>
</div>
