{% extends "base.html" %}
{% load static %}

{% block head %}
    {% include 'includes/datatables.html' %}
    <script type="text/javascript">
        window.EMOL_CONFIG = {
            pinEnabled: {{ pin_enabled|yesno:"true,false" }},
            canResetPin: {{ can_reset_pin|yesno:"true,false" }}
        };
    </script>
    <script type="text/javascript" src="{% static 'cards/javascript/combatant_list.js' %}"></script>
    <script type="text/javascript" src="{% static 'cards/javascript/combatant_detail.js' %}"></script>
{% endblock %}

{% block body %}
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12 ">
            <h2>Combatants</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-centered">
            <table id="combatant-list" class="stripe row-border order-column" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>SCA Name</th>
                        <th>Legal Name</th>
                        <th>Card ID</th>
                        <th>Privacy</th>
                        {% if pin_enabled and can_reset_pin %}<th>PIN</th>{% endif %}
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="edit-form"></div>
{% endblock %}
