{% extends "base.html" %}
{% load static %}

{% block head %}
<style>
    .is-invalid {
        border-color: #dc3545;
    }
    #validation-error-notice {
        color: #dc3545;
        display: none;
    }
    .validation-error {
        color: #dc3545;
        margin-top: 5px;
        font-size: 0.875em;
    }
</style>
<script src="{% static 'cards/javascript/self_serve_update.js' %}"></script>
{% endblock %}

{% block body %}
<div class="row top-space-xl">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>Update Info</h1>
  </div>
</div>
<div class="row top-space-md">
  <form method="post" action="{% url 'self-serve-update' code %}">
    {% csrf_token %}
    <div class="col-md-12">
      {% with self_serve=True %}
        {% include 'combatant/combatant_info.html' %}
      {% endwith %}
    </div>
    {% if message %}
    <div class="row top-space-md">
      <div class="col-md-12">
        {{ message }}
      </div>
    </div>
    {% endif %}
    {% if errors %}
    <div class="row top-space-md">
        <div class="col-md-12 alert alert-danger">
            <ul class="mb-0">
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="row top-space-xl right">
      <div class="col-md-6">
        <span class="modal-footer-error" id="validation-error-notice">Fix validation errors before saving</span>
        <input type="button" class="btn btn-close" value="Cancel" />
        <input type="submit" class="btn btn-primary btn-save" value="Save" />
      </div>
    </div>
  </form>
</div>
{% endblock %}