<!DOCTYPE html>
{% load static %}
{% load layout %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Waiver Expired: {% firstof sca_name legal_name %}</title>
</head>
<body>
  <h2>Your waiver on file has expired</h2>
  <div>Please reach out to the Minister of the Lists to get a new one signed. In the meantime, you may not participate in combat activities.</div>
</body>