{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="row top-space-md">
        <div class="col-lg-6 col-centered content-centered">
            <a href="/request-card" class="btn btn-lg btn-lg-width btn-primary">I need my authorization card</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            &nbsp;
        </div>
    </div>
<!--
    <div class="row">
        <div class="col-lg-6 col-centered content-centered">
            <a href="/update-info" class="btn btn-lg btn-lg-width btn-primary">I need to update my information</a>
        </div>
    </div>
-->
    <div class="row">
        <div class="col-lg-6 col-centered content-centered">
            <a href="/marshal-list" class="btn btn-lg btn-lg-width btn-primary">Kingdom Marshal List</a>
        </div>
    </div>
{% endblock %}
