{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="row top-space-xl">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    Enter your email address below{% if pin_enabled %} and your PIN{% endif %}, then click the Update Info button.
    You will be sent an email with a link to follow to update your information.
  </div>
</div>
<form method="POST">
  {% csrf_token %}
  <div class="row top-space-lg">
    <div class="col-md-2"></div>
    <div class="col-md-8 content-centered">
        <input id="update-info-email" name="update-info-email" type="email" placeholder="Email address"
        class="input-round" required />
    </div>
  </div>
  {% if pin_enabled %}
  <div class="row top-space-sm">
    <div class="col-md-2"></div>
    <div class="col-md-8 content-centered">
      <input id="update-info-pin" name="update-info-pin" type="password" inputmode="numeric" pattern="[0-9]{4,6}"
        placeholder="PIN (4-6 digits)" class="input-round" required maxlength="6" minlength="4" />
    </div>
  </div>
  {% endif %}
  <div class="row top-space-sm">
    <div class="col-md-2"></div>
    <div class="col-md-8 content-centered">
      <div id="request-card-message-text" class="error message-text">{{ message }}</div>
    </div>
  </div>
  <div class="row top-space-sm">
    <div class="col-md-2"></div>
    <div class="col-md-8 content-centered">
      <input type="submit" id="request-card" class="btn btn-lg btn-lg-width btn-primary" value="Request Update" />
    </div>
  </div>
</form>
{% endblock %}