{% extends "base.html" %}

{% block body %}
<div class="row form-group">
  <div class="col-md-12">
    <h2>Privacy Policy Declined</h2>
  </div>
</div>

<div class="row form-group">
  <div class="col-md-12">
      You've declined the privacy policy. As outlined in the email we sent you:
  </div>
</div>
<div class="row form-group">
  <div class="col-md-12">
      <ul>
          <li>We've deleted all record of you in the eMoL database</li>
          <li>The MoL has been notified that you need to be tracked manually</li>
          <li>The MoL will send you a card through via postal mail</li>
          <li>The MoL will track any new authorizations you get manually</li>
          <li>You will not receive any reminders about card expiry</li>
          <li>When your authorizations expire, it is up to you to contact
              the MoL and arrange to have your card stamped to keep it valid</li>
          <li>The MoL will still remind you when your waiver is near expiry</li>
      </ul>
  </div>
</div>
{% endblock %}